<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">RAFMAK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
            
             <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/products}" class="nav-item nav-link" >Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/companies}" class="nav-item nav-link" > Invoice</a>
                </li>
                
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/administration}" class="nav-item nav-link" > Administration</a>
               </div>
                </li>
                
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link" > Logout</a>
                </li>
              </ul>
        </div>
     </nav>

<div class="container">
<br>

<div th:if="${param.invalidPriceType}">
     <div class="alert alert-danger">The price type doesn't exist, you entered wrong letter.</div>
    </div>
    
    <div th:if="${param.invalidQty}">
     <div class="alert alert-danger">Please check your inventory the selected product  has less then you need it maybe even out!!!</div>
    </div>
    
    <div th:if="${param.qtyError}">
     <div class="alert alert-danger">You didn't enter value in the quantity </div>
    </div>
    <div th:if="${param.priceError}">
     <div class="alert alert-danger">You didn't enter the value of the color product... </div>
    </div>
    
    <div th:if="${param.noProductsInList}">
     <div class="alert alert-danger">You can't print empty invoice</div>
    </div>
    
    
    
    <div class="row">
  <div class="col">
  
   <form action="#" th:action="@{/setDays/{bid}(bid=${invoice.id})}" th:object="${invoice}" method="post" class="form-inline">

<div class="form-group row">
    <label for="inputProductProce" class="col-sm-2 col-form-label">Set Maximim days</label>
    <div class="col-sm-5">
      <input type="text" th:name="id" class="form-control" id="inputEmail4" >
    </div>
  </div>

<button type="submit"  class="btn btn-info col-2 d-none">Search</button>
  
  </form>
  
  <table class="table table-striped"  >
  
      <tr>
       <td><h6 th:text="${invoice.arrival}"></h6></td>
      </tr>
      
  </table>
  </div>
  
  
  <div class="col"> 
  
  <form action="#" th:action="@{/findInvoiceById}" th:object="${invoice}" method="get" class="form-inline">

<div class="form-group row">
    <label for="inputProductProce" class="col-sm-2 col-form-label">Invoice id:</label>
    <div class="col-sm-5">
      <input type="text" th:name="id" class="form-control" id="inputEmail4" >
    </div>
  </div>

<button type="submit"  class="btn btn-info col-2 d-none">Search</button>
  
  </form>
  
  
  
  </div>
  
  
  <br><br>
  <div class="w-100"></div>
  <div class="col">
  
  <table class="table table-striped" th:object="${invoice}">
  
  <tr>
     <th><h1>Invoice No:</h1></th>
     <td><h1 th:text="*{id}"></h1></td>
  </tr>
      
  </table>
  
  </div>
  <div class="col">
  
  <table class="table table-striped"  >
  
      <tr>
       <td><h1 th:text="${invoice?.company?.companyName}"></h1></td>
      </tr>
      
  </table>
  
  </div>
</div>
    
    
  <div class="row">
  <div class="col-4">
  <form action="#" th:action="@{/invoice/{id}(id=${invoice.id})}" th:object="${invoice}" class="form-horizontal" id="price" >
     <div class="form-row">
     <div class="form-group col-md-4">
    <label for="inputProductProce" class="col-sm-2 col-form-label">Product</label>
    <div class="col-sm-10">
      <input type="text" th:name="id" class="form-control" id="inputEmail4" >
    </div>
  </div>
   <button type="submit"class="btn btn-primary d-none" >find</button>
     
  </div>
   </form>
  </div>
  
  <div class="col-8">
     <form action="#" th:action="@{/createInvoiceProduct/{bid}/{id}(bid=${invoice.id},id=${product?.id})}"  th:object="${bprod1}"class="form-horizontal" id="price" method="post" >
       <div class="form-row">
    <table class="table table-sm table-striped table-dark" >
   <thead>
    <tr>
      <th scope="col">Id</th>
      
      <th scope="col"> Product Description</th>
      
      <th scope="col"> Price</th>
      
      <th scope="col"> Price on Pack</th>
      
      <th scope="col"> Remaining Qty</th>
      
    </tr>
  </thead>
  <tbody>
    <tr >
      <td th:text="${product?.id}"></td> 
      <td th:text="${product?.description}"></td>
      <td th:text="${product?.price}"></td>
      <td th:text="${product?.priceOnPack}"></td>
      <td th:text="${product?.totalQty}"></td>
      
     </table>
     
       <div class="form-group col-md-2">
    <label for="inputProductProce" class="col-sm-2 col-form-label">Qty</label>
    <div class="col-sm-10">
      <input type="text" th:field="*{qty}" th:disabled = "${product?.description eq null}" class="form-control" id="inputProductPrice">
    </div>
  </div>
  
  <div class="form-group col-md-2">
    <label for="inputProductProce" class="col-sm-2 col-form-label">M/G</label>
    <div class="col-sm-8">
      <input type="text" th:name="priceType" th:disabled = "${product?.description eq null}" class="form-control" id="inputProductPrice">
    </div>
  </div>
  
  <div class="form-group col-md-2">
    <label for="inputProductProce" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-12">
      <input type="text" th:field="*{itemTotal}"th:disabled = "${product?.description eq null}" class="form-control" id="inputProductPrice">
    </div>
  </div>
   
   <button type="submit" th:disabled = "${product?.id eq null}" class="btn btn-info col-2 d-none">+ Add</button>
  </div>
  
   </form>
  </div>
</div>


<div class="col-sm">
   
     
  
     
 </div>



<form action="#" th:action="@{/printInvoice/{id}(id=${invoice.id})}"  th:object="${invoice}"class="form-horizontal" id="price" method="post" > 
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      
      <th scope="col"> Product Description</th>
      
      <th scope="col"> Product Price</th>
      
      <th scope="col"> Qty</th>
      
      <th scope="col"> Item Total</th>
      
      <th scope="col"> Remove</th>
   
     </tr>
  </thead>
  <tbody>
    <tr th:each="product: ${products}" >
      <td th:text="${product.pid}"></td> 
      <td th:text="${product.description}"></td>
      <td th:text="${product.price}"></td>
       <td th:text="${product.qty}"></td>
      <td th:text="${product.itemTotal}"></td>
    <td>
       <a th:href="@{/removeProductFromInvoice/{bid}/{id}(bid=${invoice.id},id=${product?.id})}" class="btn btn-outline-danger">Remove</a> 
      </td> 
      
   </table>
   
   
   <div class="row">
    <div class="col">
    
    <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{comment}"  rows="3"placeholder="Type your comment here..."></textarea>
    </div>
    
    </div>
    <div class="col">
    
     <table class="table table-striped"  >
  
      <tr>
        <th>TOTAL</th>
        <td><b th:text="${invoice.total}"></b></td>
      </tr>
      
       </table>
       
       <table class="table table-striped"  >
  
      <tr>
        <th>DDV 18%</th>
        <td><b th:text="${invoice.tax}"></b></td>
      </tr>
      
       </table>
    
    </div>
    <div class="w-100"></div>
    <div class="col"></div>
    <div class="col">
       </div>
  </div>
   
   
   
  
       
       
       
       <button type="submit" class="btn btn-info col-2">PRINT</button>
       
     </form>  
       
  
    <br>
    
    <hr>
    
     
 <hr>
    
     
     </div>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>