<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" ><span sec:authentication="principal.username">User</span></a>
  <a class="navbar-brand" ><span sec:authentication="principal.authorities">User</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link" 
         th:href="@{/profile}"
                    sec:authentication="principal.username"
    > Welcome <span >User</span></a>
    
   
      <a th:href="@{/profile/cart}" class="nav-item nav-link" > My Shopping Cart</a>
      <a th:href="@{/products}" class="nav-item nav-link" >Products</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link" >Logout</a>
      
    </div>
  </div>
</nav>

<div class="container">



<!--  
<div th:if="${nameError != null}">
     <div class="alert alert-info">[[${nameError}]]</div>
    </div>
-->
<br>
<div class="row">

  <div class="col-sm-7"> 
  
  
  <form action="#" th:action="@{/payment/{id}(id=${cart.id})}" th:object="${card}" method="post" enctype="multipart/form-data">
  
  <div th:if="${param.errorNumber}">
     <div class="alert alert-danger">The card number is invalid , please check the card and try again </div>
    </div>
    
    <div th:if="${param.errorName}">
     <div class="alert alert-danger">The Cardholder Name doesnt match the card number , please check the card and try again </div>
    </div>
    
    <div th:if="${param.errorCvv}">
     <div class="alert alert-danger">The cvv number is wrong  , please check the number on the back of the card and try again </div>
    </div>
    
    <div th:if="${param.errorMonth}">
     <div class="alert alert-danger">The expiration month is wrong , please check the card and try again </div>
    </div>
    
    <div th:if="${param.errorYear}">
     <div class="alert alert-danger">The card expiration year is wrong  , please check the card and try again </div>
    </div>
    
    <div th:if="${param.errorBalance}">
     <div class="alert alert-danger">You dont have enough money on the card, please try again with different creditcard</div>
    </div>
    
    
  <br><br><br><br><br>
 <h1>Complete your payment Details</h1>
  
 <br><br><br>
     
      <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Card Number</label>
      <input type="text" th:name="cardNumber" class="form-control" id="inputEmail4" placeholder="1234123412341234">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Cardholder Name</label>
      <input type="text" th:name="cardholderName" class="form-control" id="inputPassword4" placeholder="Marjan Karafiloski">
    </div>
  </div>
  
  <div class="form-row">
    
    <div class="form-group col-md-2">
      <label for="inputZip">CVV</label>
      <input type="text" th:name="cvv" class="form-control" id="inputZip" placeholder="123">
    </div>
    
    <div class="form-group col-md-4">
      <label for="exampleFormControlSelect2">Exp Month</label>
    <select  th:name="month"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
    
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="exampleFormControlSelect2">Exp Year</label>
    <select  th:name="year"  class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
    <option value="2026">2026</option>
    <option value="2027">2027</option>
    <option value="2028">2028</option>
    <option value="2029">2029</option>
    <option value="2030">2030</option>
    
      </select>
    </div>
    
  </div>

  
 <button type="submit" class="btn btn-info col-2">Pay</button>
  
  </form>
  </div>
  <div class="col-sm-5"><form action="#" th:action="@{/profile/cart}" th:object="${cart}"class="form-horizontal" method="post">
      <input type="hidden" name="id" th:value="*{id}" /> 
   
        
       
     
      <h4>Your Products</h4>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      
      <th scope="col"> Product Name</th>
      
      <th scope="col"> Product Price</th>
      
      <th scope="col"> Qty</th>
      
      <th scope="col"> Item Total</th>
      
      
     </tr>
  </thead>
  <tbody>
    <tr th:each="product: ${products}" >
      <td th:text="${product.product.id}"></td> 
      <td th:text="${product.product.productName}"></td>
      <td th:text="${product.product.productPrice}"></td>
      <td th:text="${product.qty}"></td>
      <td th:text="${product.itemTotal}"></td>
    
      
      
   </table>
   
        <br/>
   
   <table class="table table-striped"  >
  
      <tr>
        <th>SUBTOTAL</th>
        <td><b th:text="${cart.total}"></b></td>
      </tr>
      
       </table>
        <br/>
  <table class="table table-striped"  >
  
      <tr>
        <th>Shipping cost not included</th>
        <td><b th:text="${cart.option.transporter +' '+cart.option.days +' '+cart.option.price }"></b></td>
      </tr>
      
       </table>
  </form>
  <br>
  <a th:href="@{/}" class="nav-item nav-link" >Continue shopping...</a></div>
</div>


  <a th:href="@{/confirmAndPay/{id}(id=${cart.id})}" class="nav-item nav-link" >Back to shipping ...</a>
  
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>